body {
  padding-top: 37px;
  padding-bottom: 50px;
  background-image: url("../stabilized_burma_red_infield_mix1.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;  
}

nav {
  background-color: navy;
}

hr {
  height: 20px;
}

.navbar-brand {
  font-size: 24px;
  font-weight: bold;
}

.jumbotron {
  background-color: #b0e0e6;
}

.welcome {
  color: white;
}

.lead {
  color: navy;
}

.welcome {
  font-weight: bold;
  text-shadow: 0px 0px 3px grey, 0px 0px 5px navy;
}

.user-form {
  width: 50%;
  margin: auto;
  margin-top: 54px;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0px 5px 15px #b0e0e6, 0px 6px 15px #b0e0e6;
  background-color: white;
}