<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>

    <!-- Navigation -->
    <% include ../static/partials/navbar.ejs %>

    <!-- Page Content -->
    <main class="container">
      
      <!-- Jumbotron Header -->
      <header class="jumbotron my-4 text-center">
        <% include ../static/partials/messages.ejs %>
        <h1 class="display-4 welcome">Announcements Page</h1>
        <p class="lead">News and Information for Sports Officials</p>
      </header>

      <!-- Page Features -->
      <section class="row text-center">
        <div class="col-md-12 news">
          <h4 class="card-title">News and Announcements</h4>
          <hr>
          <div>News and Announcements will go here!</div>
        </div>
        <!-- <div class="col-md-3 card">
          <h4 class="card-title">Post</h4>
          <p class="card-text">Share your deepest, darkest secrets</p>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-4 card">
          <h4 class="card-title">Comment</h4>
          <p class="card-text">Share your opinions to rile everyone up</p>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-3 card">
          <h4 class="card-title">Stay Informed</h4>
          <p class="card-text">Get misinformation to argue your point incorrectly</p>
        </div> -->

      </section>
      <!-- end of row-->
      
    </main>
    <!-- end of container -->
    <footer>
      <div>
        <p class="footer-text">This is a footer</p>
      </div>      
    </footer>
    <% include ../static/partials/baseScripts.ejs %>
  </body>
</html>