<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/head.ejs %>
    <script src="https://fullcalendar.io/releases/core/4.1.0/main.min.js"></script>
    <script src="https://fullcalendar.io/releases/interaction/4.1.0/main.min.js"></script>
    <script src="https://fullcalendar.io/releases/daygrid/4.1.0/main.min.js"></script>
    <script src="https://fullcalendar.io/releases/timegrid/4.1.0/main.min.js"></script>
    <link rel="stylesheet" href="https://fullcalendar.io/releases/core/4.1.0/main.min.css" />
    <link rel="stylesheet" href="https://fullcalendar.io/releases/daygrid/4.1.0/main.min.css" />
    <link rel="stylesheet" href="https://fullcalendar.io/releases/timegrid/4.1.0/main.min.css" />
    <script>

        document.addEventListener('DOMContentLoaded', function() {
          var calendarEl = document.getElementById('calendar');
  
          var calendar = new FullCalendar.Calendar(calendarEl, {
            plugins: ['interaction', 'dayGrid' ],
            defaultView: 'dayGridMonth',
            selectable: true
          });
  
          calendar.render();
        });
  
      </script>
  </head>
  <body>

    <!-- Navigation -->
    <% include ./partials/navbar.ejs %>

    <!-- Page Content -->
    <main class="container">
      <!-- Jumbotron Header -->
      <header class="jumbotron my-4 text-center">
        <h1 class="display-3 welcome">Welcome to JAM Sports Officials</h1>
        <p class="lead">News and Information for Sports Officials</p>
        <% if(!currentUser) { %>
          <a href="/users/register" class="btn btn-primary btn-lg">Register</a>
          <a href="/users/sign-in" class="btn btn-outline-primary btn-lg">Sign In</a>
        <% } %>        
      </header>

      <!-- Page Features -->
      <section class="row text-center">

        <section class="col-lg-4">
          <h4 class="card-title">Post</h4>
          <p class="card-text">Share your deepest, darkest secrets</p>
        </section>

        <section class="col-lg-4">
          <h4 class="card-title">Comment</h4>
          <p class="card-text">Share your opinions to rile everyone up</p>
        </section>

        <section class="col-lg-4">
          <h4 class="card-title">Stay Informed</h4>
          <p class="card-text">Get misinformation to argue your point incorrectly</p>
        </section>

      </section>
      <div id="calendar"></div>
      <div class="card">
        <h3 class="card-header" id="monthAndYear"></h3>
        <table class="table table-bordered table-responsive-md table-responsive-sm" id="calendar">
          <thead>
            <tr>
              <th>Sun</th>
              <th>Mon</th>
              <th>Tues</th>
              <th>Wed</th>
              <th>Thurs</th>
              <th>Fri</th>
              <th>Sat</th>
            </tr>
          </thead>
          <tbody id="calendar-body"></tbody>
        </table>
      </div>

      <div id="calendar"></div>
      <!-- end of row-->
      <% include ./partials/calendar.ejs %>
    </main>
    <!-- end of container -->

    <% include ./partials/baseScripts.ejs %>
  </body>
</html>