<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../static/partials/head.ejs %>
    <script src="https://fullcalendar.io/releases/core/4.1.0/main.min.js"></script>
    <script src="https://fullcalendar.io/releases/interaction/4.1.0/main.min.js"></script>
    <script src="https://fullcalendar.io/releases/daygrid/4.1.0/main.min.js"></script>
    <script src="https://fullcalendar.io/releases/timegrid/4.1.0/main.min.js"></script>
    <link rel="stylesheet" href="https://fullcalendar.io/releases/core/4.1.0/main.min.css" />
    <link rel="stylesheet" href="https://fullcalendar.io/releases/daygrid/4.1.0/main.min.css" />
    <link rel="stylesheet" href="https://fullcalendar.io/releases/timegrid/4.1.0/main.min.css" />
    <script>
      document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');

        var calendar = new FullCalendar.Calendar(calendarEl, {
          plugins: ['interaction', 'dayGrid' ],
          defaultView: 'dayGridMonth',
          header: {
            left: 'prev today',
            center: 'title',
            right: 'next'
          },
          contentHeight: 450,  
          selectable: true,
          dateClick: (info) => {
            console.log(info.dateStr);
            calendar.addEvent({
              title: 'dynamic event',
              start: info.dateStr,
              allDay: true
            }),
            document.getElementById('official-list').innerHTML = "I am inside!!!";
          }
        });

        calendar.render();
      });

    </script>
  </head>
  <body>

    <!-- Navigation -->
    <% include ../static/partials/navbar.ejs %>

    <!-- Page Content -->
    <main class="container">
      <div class="row">
        <div class="col-md-6 col-sm-4">
          <div id="calendar" ></div>
        </div>
        <div class="col-md-1">
        </div>
        <div class="col-md-5">
          <div id="official-list">
        </div>
      </div>
      
      

      </div>

      
      <!-- end of row-->
      
    </main>
    <!-- end of container -->
    
    
    <% include ../static/partials/baseScripts.ejs %>
    
  </body>
</html>