<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>

    <!-- Navigation -->
    <% include ../static/partials/navbar.ejs %>

    <!-- Page Content -->
    <main class="container">
      
      <!-- Jumbotron Header -->
      <header class="jumbotron my-4 text-center">
        <% include ../static/partials/messages.ejs %>
        <h1 class="display-4 welcome">Registered Users</h1>
        <p class="lead">Here are all registered users</p>
      </header>

      <!-- Page Features -->
      
    </main>
    <!-- end of container -->
    <footer>
      <div>
        <p class="footer-text">This is a footer</p>
      </div>      
    </footer>
    <% include ../static/partials/baseScripts.ejs %>
  </body>
</html>